.article{
  background-color: var(--contrast);
}
.article-header{
  position: relative;
  z-index: 2;
  min-height: 200px;
  padding: 20px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-img{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.article-tags{
 flex: 1 1 auto;
 display: flex;
 justify-content: flex-end;
 align-items: start;
}
.article-tags a{
  display: inline-block;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease 0s;
  font-family: var(--montserrat);
  font-size: 8px;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--contrast);
}
.article-tags a:hover, .article-tags a:focus{
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.article-info{
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 14px;
  row-gap: 2px;
}
.article-photo{
  grid-row: span 2;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.1s ease 0s;
}
.article-photo img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.article-photo:hover, .article-photo:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.article-name{
  font-family: var(--montserrat);
  font-size: 18px;
  line-height: 1.06;
  color: var(--contrast);
}
.article-date{
  font-family: var(--lato);
  font-size: 13px;
  line-height: 1.46;
  color: var(--contrast);
}
.article-name:hover, .article-name:focus, .article-date:hover, .article-date:focus{
  outline: none;
  opacity: 0.5;
}
.article-title{
  max-width: 500px;
  font-family: var(--montserrat);
  font-size: 28px;
  line-height: 1.25;
  color: var(--contrast);
}
.article-content{
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.article-text{
  height: calc(1.39 * 3em);
  overflow: hidden;
  font-family: var(--lato);
  font-size: 18px;
  line-height: 1.39;
  color: var(--main);
}
.article-link{
  display: block;
  font-family: var(--lato);
  font-size: 17px;
  line-height: 1.76;
  color: var(--colorful);
  transition: all 0.2s ease 0s;
}
.article-link:hover, .article-link:focus{
  outline: none;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .article-header{
    height: 330px;
  }
  .article-info{
    padding-left: 40px;
  }
  .article-title{
    max-width: 500px;
    font-family: var(--montserrat);
    font-size: 28px;
    line-height: 1.25;
    color: var(--contrast);
  }
  .article-content{
    padding: 35px 60px;
  }
}