.top{
  position: relative;
  z-index: 1;
  padding: 240px 0 100px;
}
.top__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: url(../img/jpg/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top__bg::before{
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.top__title{
  position: absolute;
  height: 0;
  overflow: hidden;
}
.top__articles{
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}
.top__more{
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0 60px;
  background-color: var(--gray-ultralight);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.top__more h2{
  font-family: var(--montserrat);
  font-size: 30px;
  line-height: 1.2;
  color: var(--main);
}
.top__btn{
  display: block;
  padding: 8px 25px;
  border-radius: 3px;
  background-color: var(--colorful);
  font-family: var(--montserrat);
  font-size: 10px;
  line-height: 3;
  text-transform: uppercase;
  color: var(--contrast);
}